
.navbar {
    position: fixed;
    /* Fija el navbar en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Asegura que el navbar esté por encima de otros elementos */
    height: auto;
    /* Altura fija del navbar (ajusta según tus necesidades) */
    background-color: black;
    /* Color de fondo */
    padding: 8px 5px 5px 0px;
    /* Ajusta el padding horizontal según sea necesario */
}

.button-menu{
    display: none;
}

.navbar-slogan {
    color: white;
}

.navbar-logo {
    height: 40px;
}

.color-black {
    color: black;
    background-color: black;
}

.color-white {
    color: white;
    background-color: white;
}

.color-gold {
    color: white;
    background-color: #C4A05F;
}





/* Estilos para los inputs y selects */
.form-select,
.form-control {
    border-radius: 5px;
    /* Bordes redondeados */
    border: 1px solid #ddd;
    /* Borde suave */
}



/* Ajustes para pantallas pequeñas */
@media (max-width: 990px) {
    .navbar {
        align-content: center;
        width: auto;        
    }
    .card-search {       
        padding: 15px; 
        position: relative;        
      }
    .card {
        margin-top: 0px;
        /* Espacio adicional en móviles */
    }

    .navbar-logo {
        height: 20px;
    }

    .navbar-slogan {
        font-size: small;
    }

    .button-isOpen {
        display: grid;
        background-color: black;
    }


}