body { 
    padding-top: 50px;  
    color: #000000; /* Texto blanco para contraste */
    font-family: Arial, sans-serif;
    width: 100%;
  }

  .container{
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 1px 5px 1px;
    display: contents;
  }

  .footer {
    background-color: #0b5ed7;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  